@model StARKS.Models.HomeViewModel

<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <style>
        table, th, td, thead {
            border: 1px solid black;
            border-bottom: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
        .table > thead > tr > th {
            border-bottom: 1px solid black;
        }

        th, td {
            padding: 5px;
            text-align: center;
        }

        input {
            border: none transparent;
            outline: none;
            text-align: center;
        }

        #studentFilter, #courseFilter {
            border: 1px;
            outline: auto;
            text-align: left;
            margin-right: 20px;
            margin-left: -10px;
            height: 30px;
            width: 300px;
        }

        #modalbtnS, #modalbtnC {
            margin-left: 10px;
            height: 30px;
        }
    </style>
</head>

<script>

    //Filter Functions
    $(document).ready(function () {
        $('#studentFilter').on('keyup', function () {
            var searchTerm = $(this).val().toLowerCase();
            $('#tableX tbody tr').each(function () {
                var lineStr = $(this).text().toLowerCase();
                if (lineStr.indexOf(searchTerm) === -1) {

                    $(this).hide();

                } else {
                    $(this).show();
                }
            });
        });
    });



    $(document).ready(function () {
        $('#courseFilter').on('keyup', function () {
            var searchTerm = $(this).val().toLowerCase();
            $('#tableX thead th').each(function () {
                var lineStr = $(this).text().toLowerCase();
                if (lineStr != " ") {
                    if (lineStr.indexOf(searchTerm) === -1) {
                        var $curr = $(this);
                        var $cell = $curr.closest('th,td')
                        var $table = $curr.closest('table')


                        var cellIndex = $cell[0].cellIndex + 1;

                        $table.find("tbody tr, thead tr")
                            .children(":nth-child(" + cellIndex + ")")
                            .hide()


                        $
                    } else {
                        var $curr = $(this);
                        var $cell = $curr.closest('th,td')
                        var $table = $curr.closest('table')


                        var cellIndex = $cell[0].cellIndex + 1;

                        $table.find("tbody tr, thead tr")
                            .children(":nth-child(" + cellIndex + ")")
                            .show()


                        $(this).show();
                    }
                }
            });
        });
    });



    function changeGrade(sid, cid, val) {
        $.ajax({
            url: '/Home/Update',
            type: "post",
            cashe: false,
            data: { sid: sid, cid: cid, val: val }
        }).done(function () {
            alert("Mark can be in range 6 - 10");
            location.reload();
        });
    }
</script>


<body>



    <div class="container-fluid">


        <input class="pull-left" id="studentFilter" type="text" value="" placeholder="Filter students...">

        <input class="pull-left" id="courseFilter" type="text" value="" placeholder="Filter courses...">





        <button id="modalbtnS" type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#AddStudentModal">Add Student</button>
        <button id="modalbtnC" type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#AddCourseModal">Add Course</button>


    </div>


    <!-- Trigger the modal with a button -->

    <div class="row">

    </div>

    <!-- Modals -->
    <div class="modal fade" id="AddStudentModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">


                <div class="modal-body">
                    @Html.Partial("_createStudent")
                    <div id="dynamicContentContainer"></div>
                </div>


            </div>

        </div>
    </div>



    <div class="modal fade" id="AddCourseModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    @Html.Partial("_createCourse")
                    <div id="dynamicContentContainer"></div>
                </div>


            </div>

        </div>
    </div>

    <div class="modal fade" id="EditOrDeleteStudentModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body" id="part">
                    @Html.Partial("_editOrDeleteStudent")
                    <div id="dynamicContentContainer"></div>
                </div>


            </div>

        </div>
    </div>


    <div class="modal fade" id="EditOrDeleteCourseModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    @Html.Partial("_editOrDeleteCourse")
                    <div id="dynamicContentContainer"></div>
                </div>


            </div>

        </div>
    </div>

    <br />
    <br />
    <div class="table-responsive">
        <table id="tableX" class="table">
            <thead>
                <tr>
                    <th scope="col"> </th>
                    @foreach (var course in Model.Courses)
                    {
                    <th scope="col">
                        @Html.ActionLink(" ", "SelectCourse", "Home", new { Id = course.Id }, new { @class = "glyphicon glyphicon-plus-sign" })

                        <a data-toggle="modal" data-target="#EditOrDeleteCourseModal">
                            @course.Name
                        </a>

                    </th>

                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var scm in Model.AllSCM)
                {
                    <tr>
                        @*@Html.ActionLink(scm.Sname, "SelectStudent", "Home", new { Id = scm.Sid })*@
                        <th scope="row">
                            @Html.ActionLink(" ", "SelectStudent", "Home", new { Id = scm.Sid }, new { @class = "glyphicon glyphicon-plus-sign" })
                            <a id="PopupStudDel" class="@scm.Sid" data-toggle="modal" data-target="#EditOrDeleteStudentModal">
                                @scm.Sname
                            </a>
                        </th>





                        @foreach (var sc in scm.Grades)
                        {
                            <td>
                                <input type="text" value=@sc.Grade.GetValueOrDefault() onchange="changeGrade(@scm.Sid, @sc.CourseId.GetValueOrDefault() ,this.value);">


                            </td>

                        }
                    </tr>
                }

            </tbody>
        </table>
    </div>


    <br />
    <br />

</body>
